@media(max-width:376px){

    body{
        overflow: auto;
    }

    .container{
        height: auto;
    }

    .container__cars{
        margin: 1.5rem;
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .container__cars__title{
        padding: 0.5em 0;
        padding-bottom: 0;
    }

    .container__cars__description{
        margin: 1.75rem 0;
    }

    .container__cars__sedan{        
        border-radius: 10px 10px 0 0;

    }

    .container__cars__luxury{
        border-radius: 0 0 10px 10px;
    }




    button{
        position: relative;
        margin: 0;
    }

    .attribution{
        position: relative;
    }
}