:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);

    --transparent-white: hsla(0, 0%, 100%, 0.75); /* paragraphs */
    --very-light-gray: hsl(0, 0%, 95%); /* background, headings, buttons */
}

*{
    margin: 0;
    box-sizing: border-box;
}

main{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flexbox;
}

body{
    overflow: hidden; 
    color: var(--very-light-gray);
    font-weight: 400;
    font-family: "Lexend Deca";
    background-color: var(--transparent-white);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    margin-top: 10%;
    width: 100vw;
}

.container__cars{
    position: relative;
    display: flex;
    width: 1000px;
    height: 600px;
}


.container__cars__sedan{
    padding: 60px;
    border-radius: 10px 0 0 10px;
    background-color: var(--bright-orange);
}

.container__cars__suv{
    background-color: var(--dark-cyan);
    padding: 60px;
}

.container__cars__luxury{
    padding: 60px;
    border-radius: 0 10px 10px 0;
    background-color: var(--very-dark-cyan);
}

button{
    margin: 4rem 0;
    display: block;
    position: absolute;
    align-items: end;
    width: 160px;
    height: 60px;
    border-radius: 30px;
    font-family: "Lexend Deca";
    font-size: 1em;
    border: solid 2px var(--very-light-gray);
}

.sedan-btn{
    color: var(--bright-orange);
}

.suvs-btn{
    color: var(--dark-cyan);
}

.lux-btn{
    color: var(--very-dark-cyan)
}

button:hover{
    cursor: pointer;
    color: var(--very-light-gray);
    background-color: transparent;
}

.container__cars__title{
    font-family: "Big Shoulders Display";
    font-size: 40px;
    padding: 40px 0 40px 0;
}

.container__cars__description{
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2.1;
    font-size: 1em;
}

.attribution{
    color: var(--very-dark-cyan);
    font-size: 10px;
    font-family: "Lexend Deca";
    position: absolute;
    bottom: 0;
    left: 0;
}